.idea
.project
.svn
.swp
konfig-tools.php
konfig-tools.sh
mapa-f/log.txt
mapa-f/mapy/log.txt
mapa-f/out/geocaches.exe.md5
mapa-f/out/geocaches.zip
mapa-f/out/geocaches.zip.md5
spam/logfile.txt
spam/spamlist.txt
statystyki/country_codes_dict.csv
statystyki/out/aktywni_userzy.dat
waypointy/gd/dashpoints__all.csv
waypointy/gd/dashpoints_csv.zip
waypointy/gpsgames/gpsgames.gpx
waypointy/oc.com/oc2.com.gpx
waypointy/oc.com/oc.com.gpx
