.swp
.svn
konfig-tools.php
konfig-tools.sh
mapa-f/log.txt
mapa-f/mapy/log.txt
mapa-f/out/geocaches.exe.md5
mapa-f/out/geocaches.zip
mapa-f/out/geocaches.zip.md5
waypointy/oc.com/oc.com.gpx
waypointy/oc.com/oc2.com.gpx
waypointy/gpsgames/gpsgames.gpx
spam/spamlist.txt
statystyki/country_codes_dict.csv
waypointy/gd/dashpoints__all.csv
waypointy/gd/dashpoints_csv.zip
statystyki/out/aktywni_userzy.dat
./spam/spamlist.txt
./spam/logfile.txt
